#container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: red;
    text-decoration: underline;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
  }

  table {
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 40px;
  }

  td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    width: 28px;
    height: 28px;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 30px auto;
  }

  
  .button-container > div {
    width: 45%;
    text-align: center;
  }

  

  .button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #compare-button {
    margin-top: 50px;
  }
  .compare-text {
    font-size: 18px;
    text-align: center;
    padding-bottom: 70px;
  }
  .compare-container {
    min-height: 100px;
  }
  .important-text {
    text-align: center;
    line-height: 150%;
    font-size: 17px;
  }
 .calculating-text {
    color: red;
    font-size: 18px;
    font-weight: bold;
 }
 .result {
    font-size: 19px;
    text-decoration: underline;
 }

 .result-number {
    font-size: 18px;
    font-weight: 400;
 }

 .bigline {
  height: 3px;
  width: 100%;
  background-color: grey;
 }
 .fineline {
  height: 1px;
  width: 100%;
  background-color: grey;
 }
 .generate-button {
  background-color: rgb(68, 114, 136);
 }
 .result-button {
  background-color: red;
  font-weight: bold;
 }

